nav{
    background-color:  #98ffe0;
    border-radius: 15px;
  }
  .page-footer{
    background-color: #98ffe0;
  }
  .container{
    background-color:  #98ffe0;
    box-shadow: 0px 10px 10px black;
    border-radius: 15px;
   
  }
  div{
    border-radius: 15px;
    margin-top: 2em;
  }
  .fa-solid{
    text-align: center;
    font-size: 4em;
  }
  a{
    color: black;
  }
  footer{
    border-radius: 15px;
      /* agregar estos atributos en caso de que el footer se quede muy arriba (poco texto)
    position: absolute;
    bottom: 0%;
    width: 100%; */
  }
  .texto-footer{
    color: black;
  }
  
  img{
    display: block;
    margin: auto;
  }
  h4{
    font-family: 'Lilita One', cursive;
    font-size: 2.5em;
  }
  i{
    cursor: pointer;
  }
  h2{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em ;
  }
  