<!DOCTYPE html>
<html>
  <nav class="navbar navbar-expand-lg">
    <h4>Inicio de sesion</h4>
  </nav>

  <body>
    <main role="main" class="container my-auto">
      <div class="row">
        <div
          id="login"
          class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-12"
        >
        <img src="./assets/logo.png" alt="logo" width="280" height="180" />
          <form>
            <div class="form-group">
              <div></div>
              <input
                id="user"
                class="form-control"
                type="user"
                placeholder="Usuario"
              />
            </div>
            <div class="form-group">
              <input
                id="Contraseña"
                class="form-control"
                type="password"
                placeholder="Contraseña"
              />
            </div>
            <div class="row mb-3">
              <div class="col text-left">
                <button
                  type="submit"
                  class="btn btn-success"
                  routerLink="/menu"
                  (click)="inicio()"
                >
                  Entrar
                </button>
              </div>

              <div class="col text-center">
                <button type="submit" class="btn btn-primary" routerLink="/registro">
                  Crear Cuenta
                </button>
              </div>
              <div class="col text-left">
                <button type="submit" class="btn btn-secondary" routerLink="/index">
                  Regresar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>
    <footer class="page-footer font-small">
      <div class="footer-copyright text-center">
        <div class="texto-footer">
          <h6>© Copyright 2023 WISEMIND</h6>
          <h6>Todos los Derechos Reservados</h6>
          <h6>Powered by: Nodejs</h6>
        </div>
      </div>
    </footer>
  </body>
</html>
