<!DOCTYPE html>
<html>
  <nav class="navbar navbar-expand-lg navbar-light">
    <h4>Buscar Trabajador</h4>
  </nav>

  <body>
    <main role="main" class="container my-auto">
      <div class="row">
        <div
          id="login"
          class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-12"
        >
        <img src="./assets/logo.png" alt="logo"  width="280" height="180"   />
          <form>
            <h3>Numero de control:</h3>
            <div class="form-group">
                <input type="number" class="form-control">
            </div>
            <div class="row mb-3">
              <div class="col text-left">
                <button
                  type="submit"
                  class="btn btn-success"
                  (click)="registrado()"
                >
                  Buscar
                </button>
              </div>

              <div class="col text-right">
                <button type="submit" class="btn btn-danger" routerLink="/perfiles">
                  Salir
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>
    <footer class="page-footer font-small">
      <div class="footer-copyright text-center">
        <div class="texto-footer">
          <h6>© Copyright 2023 WISEMIND</h6>
          <h6>Todos los Derechos Reservados</h6>
          <h6>Powered by: Nodejs</h6>
        </div>
      </div>
    </footer>
  </body>
</html>
